{% for task in tasks %}
    <div class="task-item">
        <input type="checkbox" data-task-id="{{ task.id }}">
        <span>{{ task.title }}</span>
        <a href="#" class="edit-link">✏️ Chỉnh sửa</a>
    </div>
{% else %}
    <p>Chưa có task nào.</p>
{% endfor %}