{% for task in task %}
    <div class="task-item d-flex" >
        <input type="checkbox" data-task-id="{{ task.id }}">
        <div>{{ task.title }}</div>
        <a href="#" data-task-id="{{ task.id }}" data-action="task#openEditForm">✏ Chỉnh sửa</a>
    </div>

{% else %}
    <div>No results found.</div>
{% endfor %}